<h1>Listing orders</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Bill address</th>
    <th>Bill city</th>
    <th>Bill state</th>
    <th>Bill zip</th>
    <th>Bill country</th>
    <th>Ship name</th>
    <th>Ship address 1</th>
    <th>Ship address 2</th>
    <th>Ship address 3</th>
    <th>Credit card type</th>
    <th>Order date</th>
    <th>Ship date</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%=h order.first_name %></td>
    <td><%=h order.last_name %></td>
    <td><%=h order.email %></td>
    <td><%=h order.phone %></td>
    <td><%=h order.bill_address %></td>
    <td><%=h order.bill_city %></td>
    <td><%=h order.bill_state %></td>
    <td><%=h order.bill_zip %></td>
    <td><%=h order.bill_country %></td>
    <td><%=h order.ship_name %></td>
    <td><%=h order.ship_address_1 %></td>
    <td><%=h order.ship_address_2 %></td>
    <td><%=h order.ship_address_3 %></td>
    <td><%=h order.credit_card_type %></td>
    <td><%=h order.order_date %></td>
    <td><%=h order.ship_date %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>
